<div class="grid">
  <button class="btn-filter" (click)="toggleClicked($event)">10 минут</button>
  <button class="btn-filter" (click)="toggleClicked($event)">1 час</button>
  <button class="btn-filter" (click)="toggleClicked($event)">1 день</button>
  <button class="btn-filter" (click)="toggleClicked($event)">1 неделя</button>
  <date-range-picker
    [(dateRange)]="dateRange"
    [(ngModel)]="dateRange"
    [maxDate]="maxDate"
    name="dateRangePicker"
    ngDefaultControl
  ></date-range-picker>
</div>
