.toRealTime{
    position: relative;
    height: 30px;
    top: 100%;
    left: 100%;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    background: none;
    background-color: #2D9DED;
    outline: none;
    box-shadow: 0px 3px 10px 0px lightgrey;
    transition: .2s;
}
.toRealTime:hover{
    box-shadow: 0px 5px 10px 0px rgb(185, 185, 185);
    transform: scale(1.1) translate(0, -3px);
}
mat-form-field{
    width: 95%;
    margin: 0 3%;
}
.mat-option{
  text-align: center;
}
.timepicker{
    display: inline-block;
    margin: 0 auto;
}
#end-time{
    margin-left: 1rem
}
.d-inline-block{
  display: inline-block;
  margin: 0 auto;
}
mat-option{
    padding: 0;
    .btn-link{
        width: 100%;
    }
}


@media (max-width: 385px){
    mat-form-field{
        width: 80%;
        margin: 0 10%;
    }
    .d-inline-block{
      display: inline-block;
      margin: 0 5rem .7rem 5rem;
    }
    .timepicker{
        display: inline-block;
        margin: 0 5rem .7rem 5rem;
    }
    #end-time{
        margin-left: 5rem
    }
}
