<div ngbDropdown class="d-inline-block" >
  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
    Выбрать время
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button ngbDropdownItem>
      <option
        (click)="clickFilter($event); sendDateRange(timeRange[0])"
        [value]="timeRange[0]"
      >
        1 минута
      </option>
    </button>
    <button ngbDropdownItem>
      <option
        (click)="clickFilter($event); sendDateRange(timeRange[1])"
        [value]="timeRange[1]"
      >
        10 минут
      </option>
    </button>
    <button ngbDropdownItem>
      <option
        (click)="clickFilter($event); sendDateRange(timeRange[2])"
        [value]="timeRange[2]"
      >
        1 час
      </option>
    </button>
    <button ngbDropdownItem>
      <option
        (click)="clickFilter($event); sendDateRange(timeRange[3])"
        [value]="timeRange[3]"
      >
        1 день
      </option>
    </button>
    <button ngbDropdownItem>
      <option
        (click)="clickFilter($event); sendDateRange(timeRange[4])"
        [value]="timeRange[4]"
      >
        1 неделя
      </option>
    </button>
    <button ngbDropdownItem>
      <option
        (click)="clickFilter($event); sendDateRange(timeRange[5])"
        [value]="timeRange[5]"
      >
        1 месяц
      </option>
    </button>
  </div>
</div>

<br />
<mat-form-field>
  <mat-label>Диапазон</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input
      (dateChange)="addEvent($event)"
      matStartDate
      formControlName="start"
      placeholder="Start date"
    />
    <input
      (dateChange)="addEvent($event)"
      matEndDate
      formControlName="end"
      placeholder="End date"
    />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
<br />
<app-timepicker-start id="start-time" class="timepicker"></app-timepicker-start>
<app-timepicker-end id="end-time" class="timepicker"></app-timepicker-end>
