.cont-tp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
p.last-change{
    margin: 1rem 0;
    padding: 0 .7rem;
}
.toRealTime{
    height: 35px;
    margin-left: .7rem;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    background: none;
    background-color: #979797;
    outline: none;
}
.realTimeActive {
    background-color: red;
}

mat-form-field{
    width: 95%;
    margin: 0 3%;
}
.mat-option{
  text-align: center;
}
#end-time{
    margin-left: 1rem
}
mat-option{
    padding: 0;
    .btn-link{
        width: 100%;
    }
}

@media (max-width: 500px){
    mat-form-field{
        width: 80%;
        margin: 0 10%;
    }
}
@media (max-width: 600px){
    .cont-tp{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
        justify-items: center;
    }
    #end-time{
        margin-left: 0rem
    }
}