<mat-form-field>
  <mat-label>Батарея №</mat-label>
  <mat-select>
    <mat-option *ngFor="let num of [1, 2, 3]" [value]="num">
      <button (click)="clickFilter($event);sendBatteryIndex(batteryIndex[num]);" type="button" class="btn btn-link" [value]="num">
      Батарея №{{num}}
      </button>
    </mat-option>
  </mat-select>
</mat-form-field>

<br />

<mat-form-field>
  <mat-label >За последние...</mat-label>
  <mat-select>

    <mat-option *ngFor="let time of ['1 минута', '10 минут', '1 час', '1 день', '1 неделя', '1 месяц']; let i = index" [value]="time">
      <button  (click)="clickFilter($event); sendDateRange(timeRange[i]);" [value]="timeRange[i]" type="button" class="btn btn-link" [value]="time">
        {{time}}
      </button>
    </mat-option>

  </mat-select>
</mat-form-field>

<br />
<mat-form-field>
  <mat-label>Диапазон</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input
      (dateChange)="addEvent($event)"
      matStartDate
      formControlName="start"
      placeholder="Start date"
    />
    <input
      (dateChange)="addEvent($event)"
      matEndDate
      formControlName="end"
      placeholder="End date"
    />
  </mat-date-range-input>



  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<br>
<!-- container - timepickers -->
<div class="cont-tp"> 
  <app-timepicker-start (timeStartEvent)="receiveTimeStart($event)" id="start-time" class="timepicker"></app-timepicker-start>
  <app-timepicker-end   (timeEndEvent)="receiveTimeEnd($event)" id="end-time"   class="timepicker"></app-timepicker-end>
</div>

<!-- <hr> -->

<!-- <h2 style="color: gray; margin-top: 1rem;"> -->
  <!-- <div> -->
    <p class="last-change">
      <span style="margin-left:auto;" *ngIf="realTimeWorks" >Последнее изменение:</span>
      <span class="timepicker" *ngIf="realTimeWorks" > {{lastTime}}</span>
    </p>
    <button class="toRealTime" 
      [ngClass]="{realTimeActive: realTimeWorks}" 
      (click)="toRealTime($event)">{{ realTimeBtnText }}</button>
  <!-- </div> -->
<!-- </h2> -->
