mat-form-field{
    width: 95%;
    margin: 0 3%;
}
.mat-option{
  text-align: center;
}
.timepicker{
    display: inline-block;
    margin: 0 auto;
}
#end-time{
    margin-left: 1rem
}
.d-inline-block{
  display: inline-block;
  margin: 0 auto;
}
mat-option{
    padding: 0;
    .btn-link{
        width: 100%;
    }
}


@media (max-width: 385px){
    mat-form-field{
        width: 80%;
        margin: 0 10%;
    }
    .d-inline-block{
      display: inline-block;
      margin: 0 5rem .7rem 5rem;
    }
    .timepicker{
        display: inline-block;
        margin: 0 5rem .7rem 5rem;
    }
    #end-time{
        margin-left: 5rem
    }
}
