mat-card{
  margin: 25vh auto;
  height: 300px;
  width: 400px;

  mat-card-content{
    form{
      display: grid;
      row-gap: 20px
    }
  }
}
.allready-auth{
  height: auto;
}
@media (max-width: 420px){
  mat-card{
    width: 100%;
  }
}