<mat-card class="allready-auth" *ngIf="isAuth">
  <mat-card-content>
    <h1>Вы уже авторизованы</h1>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="!isAuth">
  <mat-card-title>Авторизируйтесь</mat-card-title>
  <mat-card-content>
    <form [formGroup]="authForm" (submit)="signIn($event)">
      <mat-form-field>
        <mat-label>Логин</mat-label>
        <input
          matInput
          type="text"
          formControlName="username"
          (focus)="onFocus()"
          [ngClass]="{
            invalid:
              authForm.get('username').invalid &&
              authForm.get('username').touched
          }"
        />
        <mat-error>
          <span *ngIf="authForm.get('username').invalid && authForm.get('username').touched">
            <span *ngIf="authForm.get('username').getError('required')">Не введён логин</span>
            <span *ngIf="authForm.get('username').getError('incorrectData')">Некорректный логин или пароль</span>
            <!-- <span *ngIf="incorrectDataCode == 100">Некорректный логин или пароль</span> -->
          </span>
        </mat-error>
        <!-- <mat-error *ngIf="incorrectData">
          <span *ngIf="incorrectData">Некорректный логин или пароль</span>
        </mat-error> -->
        <!-- <mat-error
          *ngIf="
            authForm.get('username').invalid && authForm.get('username').touched || incorrectData
          "
        >
          <span *ngIf="authForm.get('username').getError('required')"
            >Не введён логин</span
          >
          <span *ngIf="incorrectData">Некорректный логин или пароль</span>
        </mat-error> -->
        <!-- <mat-error *ngIf="incorrectData">
          <span *ngIf="incorrectData">Некорректный логин или пароль</span>
        </mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input
          matInput
          (focus)="onFocus()"
          type="password"
          formControlName="password"
          [ngClass]="{
            invalid:
              authForm.get('password').invalid &&
              authForm.get('password').touched
          }"
        />
        <mat-error>
          <span *ngIf="authForm.get('password').invalid && authForm.get('password').touched">
            <span *ngIf="authForm.get('password').getError('required')">Не введён логин</span>
            <span *ngIf="authForm.get('password').getError('incorrectData')">Некорректный логин или пароль</span>
            <span *ngIf="authForm.get('password').getError('incorrectPassword')">Некорректный пароль</span>
            <!-- <span *ngIf="incorrectDataCode == 100">Некорректный логин или пароль</span>
            <span *ngIf="incorrectDataCode == 305">Некорректный пароль</span> -->
          </span>
        </mat-error>
        <!-- <mat-error
          *ngIf="
            authForm.get('password').invalid && authForm.get('password').touched
          "
        >
          <span *ngIf="authForm.get('password').getError('required')"
            >Не введён пароль</span
          >
        </mat-error>
        <mat-error *ngIf="incorrectData">
          <span>Некорректный логин или пароль</span>
        </mat-error> -->
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="authForm.invalid"
        type="submit"
      >
        Войти
      </button>
    </form>
  </mat-card-content>
</mat-card>
