<mat-card class="allready-auth" *ngIf="isAuth">
  <mat-card-content>
    <h1>Вы уже авторизованы</h1>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="!isAuth">
  <mat-card-title>Авторизируйтесь</mat-card-title>
  <mat-card-content>
    <form [formGroup]="authForm" (submit)="signIn($event)">
      <mat-form-field>
        <mat-label>Логин</mat-label>
        <input
          matInput
          type="text"
          formControlName="username"
          [ngClass]="{
            invalid:
              authForm.get('username').invalid &&
              authForm.get('username').touched
          }"
        />
        <mat-error
          *ngIf="
            authForm.get('username').invalid && authForm.get('username').touched
          "
          >{{
            authForm.get("username").getError("required")
              ? 'Не введён логин'
              : ""
          }}</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          [ngClass]="{
            invalid:
              authForm.get('password').invalid &&
              authForm.get('password').touched
          }"
        />
        <mat-error
          *ngIf="
            authForm.get('password').invalid && authForm.get('password').touched
          "
          >{{
            authForm.get("password").getError("required")
              ? 'Не введён пароль'
              : ""
          }}</mat-error
        >
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="authForm.invalid"
        type="submit"
      >
        Войти
      </button>
    </form>
  </mat-card-content>
</mat-card>
