<ngx-charts-bar-vertical-2d 
    [scheme]="colorScheme" 
    [groupPadding]="0" 
    [results]="multi" 
    [gradient]="gradient" 
    [xAxis]="showXAxis" 
    [yAxis]="showYAxis" 
    [yAxisTicks]="yAxisTicks"
    [showXAxisLabel]="showXAxisLabel" 
    [showYAxisLabel]="showYAxisLabel" 
    [xAxisLabel]="xAxisLabel" 
    [yAxisLabel]="yAxisLabel" 
    [legendTitle]="legendTitle" 
    [roundDomains]="roundDomains"
    (select)="onSelect($event)" 
    (activate)="onActivate($event)" 
    (deactivate)="onDeactivate($event)">
</ngx-charts-bar-vertical-2d>
<!-- <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
    [stroke]="chartOptions.stroke"
    [grid]="chartOptions.grid"
    [markers]="chartOptions.markers"
    [tooltip]="chartOptions.tooltip"
    [plotOptions]="chartOptions.plotOptions"
    [responsive]="chartOptions.responsive"
    [dataLabels]="chartOptions.dataLabels"
    [legend]="chartOptions.legend"
    [labels]="chartOptions.labels"
    [fill]="chartOptions.fill"
></apx-chart> -->