
.item {
  border-radius: 10px;
  box-shadow: -10px 10px 10px 0 lightgray;
  background-color: rgb(255, 255, 255);
}

// Скрыть Y линии сетки для линейных графиков
// ::ng-deep .gridline-path-vertical {
//   display: none;
// }
// .gridYLines{
//   position: absolute;
//   width: 2px;
//   height: 2px;
//   outline: dashed 2px violet
// }