<!-- Создаю макет -->
<div class="row" style="width: 100%;" *ngIf="!adaptCharts;else fitCharts">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6 small">
                <div class="template-left-bottom-card" size="small">
                    <ngx-chart7></ngx-chart7>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="template-right-medium-card" size="small">
            <ngx-chart1></ngx-chart1>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="template-right-top-card" size="small">
            <ngx-chart2></ngx-chart2>
        </div>
    </div>

</div>

<ng-template #fitCharts>
    <div class="row" style="width: 100%;">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6 small">
                    <div class="template-left-bottom-card" size="small">
                        <ngx-chart7></ngx-chart7>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="template-right-medium-card" size="small">
                        <ngx-chart1></ngx-chart1>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="template-right-medium-card" size="small">
                        <ngx-chart2></ngx-chart2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>