<app-header></app-header>

<div class="grid">
    <div class="item">
        <ngx-charts-bar-vertical-2d  
            [trimYAxisTicks]="false"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [noBarWhenZero]="noBarWhenZero"
            [barPadding]="2" 
            [groupPadding]="8" 
            [results]="multi" 
            [gradient]="gradient" 
            [xAxis]="showXAxis" 
            [yAxis]="showYAxis"
            [yAxisTicks]="yAxisTicksArr"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"  
            [showDataLabel]="showDataLabel"
            [showGridLines]="showGridLines"
            [roundDomains]="roundDomains"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [rotateXAxisTicks]="rotateXAxisTicks"
            (select)="onSelect($event)" 
            (activate)="onActivate($event)" 
            (deactivate)="onDeactivate($event)">
        </ngx-charts-bar-vertical-2d>
        <!-- <ngx-chart1></ngx-chart1> -->
    </div>
    <div class="item">
        <!-- <div class="box"> -->
            <!-- <ngx-chart2></ngx-chart2> -->
            <ngx-charts-gauge
                [scheme]="{
                    domain: ['#00ff00']
                  }"
                  [startAngle]="-120"
                [angleSpan]="240"
                [results]="single"
                [min]="0"
                [max]="100"
                [units]="'% Заряда батареи'"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
            >
          </ngx-charts-gauge>
        <!-- </div> -->
    </div>
    <div class="item " >
            <!-- <ngx-chart3></ngx-chart3> -->
        <ngx-charts-line-chart
            [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [results]="multi"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
            >
        </ngx-charts-line-chart>
    </div>
    <div class="item">
            <!-- <ngx-chart4></ngx-chart4> -->
        <ngx-charts-line-chart
            [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [results]="multi"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-line-chart>
    </div>
    <div class="item ">
        <div class="box">
            <div class="toggle ">
                <p>Балансировка</p>
                <input type="checkbox" id="toggle-switcher " />
                <label for="toggle-switcher "></label>
            </div>
        </div>
    </div>
    <div class="item ">
        <div class="box">
            <div class="toggle ">
                <p>Контактор</p>
                <input type="checkbox" id="toggle-contractor " />
                <label for="toggle-contractor "></label>
            </div>
        </div>
    </div>
    <!-- <div class="item ">
        <div class="box">
            <button class="switchButton " [ngClass]="{switched: contractor} " >Свитчер</button>
        </div>
    </div>
    <div class="item ">
        <div class="box">
            <button class="switchButton " [ngClass]="{switched: switcher} " >Контактор</button>
        </div>
    </div> -->
</div>
<!-- <div *ngFor="let dataSource of server.datas ">
  {{dataSource.data[0].voltages[0].index|json}}
</div> -->