<apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
    [stroke]="chartOptions.stroke"
    [grid]="chartOptions.grid"
    [markers]="chartOptions.markers"
    [tooltip]="chartOptions.tooltip"
    [plotOptions]="chartOptions.plotOptions"
    [responsive]="chartOptions.responsive"
    [dataLabels]="chartOptions.dataLabels"
    [legend]="chartOptions.legend"
    [labels]="chartOptions.labels"
    [fill]="chartOptions.fill"
></apx-chart>
