/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

*{
    font-size: 1.1rem;
    font-family: "Rubik", sans-serif !important;}
body{background-color: rgb(241, 241, 241);}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
